/* .divLogin {
    margin: 25%;
    padding: 15px;
    background: rgb(226, 226, 251);
} */

.divAdd {
    margin: 7% 15% 5% 15%;
    padding: 15px;
    background: rgb(226, 226, 251);
}

.divTable{
    margin: 7% 10% 7% 10%;
    padding: 25px;
    background: rgb(226, 226, 251);
}